<h2 mat-dialog-title>Select country</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="example-full-width">
            <input matInput formControlName="search">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <br>
        <mat-checkbox class="example-margin">Select All countries</mat-checkbox>
        <hr>
        <mat-selection-list [multiple]="data.multiple">
            <mat-list-option *ngFor="let country of countries">
                {{country.code}} | {{country.name}}
            </mat-list-option>
        </mat-selection-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button
            [mat-dialog-close]="true"
            color="primary">
        Select
    </button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
