<div class="selector">
    <form [formGroup]="form">
        <mat-radio-group formControlName="radioGroup"
                         aria-label="Select an option"
                         (change)="changeMode($event)">
            <mat-radio-button value="multiply">Multiply</mat-radio-button>
            <mat-radio-button value="single">Single</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-form-field appearance="outline" class="mt3">
            <input formControlName="search"
                   matInput
                   type="text"
                   placeholder="Search">
            <button mat-button
                    matSuffix
                    mat-icon-button
                    (click)="showAllCountries()">
                <mat-icon>view_list</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="searchResult?.length" appearance="outline">
            <mat-chip-list #chipList>
                <mat-chip>
                    Selected countries: {{searchResult?.length}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
            <input [matChipInputFor]="chipList"
                    formControlName="result"
                   matInput
                   type="text">
        </mat-form-field>
    </form>
</div>
